
.app {
  /* background-image: linear-gradient(to right top, #ff722b, #ff603b, #ff4c4b, #ff385b, #ff216b); */
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100vh;
  position: fixed;

  overflow-x: hidden;
  overflow-y: auto;
}

/* 

HEADER 

*/

.header {
  width: 100vw;
  height: 10vh;
}

.logo {
  margin-top: 50px;
  margin-left: 50px;
  position: absolute;

}

.navButtons {
  margin-top: 50px;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  margin-left: 50vw;
  transform: translateX(-50%);
}

.neon_button {
  font-size: 1.5rem;
  margin-left: 25px;
  margin-right: 25px;
  width: 150px;
  height: 60px;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 10px;
  border-radius: 20px;

  background: transparent;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);

  position: relative;
}

/* .neon_button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
} */

.neon_button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  /* background-color: hsl(317 100% 54%); */
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon_button:hover {
  color: hsl(317 100% 40%);
  text-shadow: none;
}

.neon_button:hover::before {
  opacity: 0;
}

.neon_button:hover::after {
  opacity: 0;
}

/* .neon-button:hover {
    color: hsl(323 21% 16%);
    background-color: hsl(317 100% 54%);
    text-shadow: none;
    opacity: 1;
}
.neon-button:active {
    background-color: #006e58;
} */



/*

BODY

*/


.projects {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 100px;
  margin-bottom: 200px;
  border-radius: 50px;
  background-color: #222222;
  height: 500px;
  padding-top: 25px;
  padding-left: 50px;
  color: #fff;
}


/*

FOOTER

*/

.footer {
  width: 100vw;
  height: 100px;
  background-color: #171E27;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerButton {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border-color: #000;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerButton:hover {
  background-color: #ccc;
  cursor: pointer;
}

.footerIcon {
  color: #92dcff;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.footerIcon:hover {
  cursor: pointer;
  color: #fff;
}

/*

PROJECT

*/

.project {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 100px;
  margin-bottom: 200px;
  border-radius: 50px;
  background-color: #222222;
  height: 500px;
  padding-top: 25px;
  padding-left: 50px;
  color: #fff;

}
